/* Seccion hero */
.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}
.hero-principal{
    padding: 3rem;
}

.about-me{
    height: 500px;
    padding: 10px;
}
.about-me .contenedor{
    max-width: 600px;
    text-align: center;
}
